body {
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}

a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

div {
    padding-top: 10px;
}

.divLeft {
    float: left;
    margin-right: 10px;
}

.divRight {
    float: right;
    margin-left: 10px;
}

.divClear {
    clear: both;
}