<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments.html :: css-primary">
    <link th:replace="fragments.html :: css-secondary">
    <link th:replace="fragments.html :: font">
    <title>Naplánujte si setkání</title>
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<!-- PAGE CONTENT -->
<div class="w3-main main-margin">
    <h2>Úprava události.</h2>
    <form th:action = "@{__${#httpServletRequest.requestURI}__}" th:object="${event}" method = "post">
        <div><label>Název: *</label><input type="text" required="required" pattern=".{5,}" th:field="*{name}"/></div>
        <div><label>Popis: </label><input type="text" th:field="*{description}"/></div>
        <input type="hidden" th:field="*{author}"/>
        <input type="hidden" th:field="*{users}"/>
        <input type="hidden" th:field="*{dates}"/>
        <input type="hidden" th:field="*{places}"/>
        <div><input type="submit" value="Upravit událost" class="w3-btn"/></div>
    </form>
    <div>Pole označená * jsou povinná.</div>
    <div th:if = "${param.error}">
        Vyplňte všechna pole správně.
    </div>
    <div th:if = "${#request.getParameter('edited')} == 1">
        Událost upravena.
    </div>
<!-- End of PAGE CONTENT -->
</div>
<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: script"></script>
</body>
</html>