<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments.html :: css-primary">
    <link th:replace="fragments.html :: css-secondary">
    <link th:replace="fragments.html :: font">
    <title>Naplánujte si setkání</title>
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<!-- PAGE CONTENT -->
<div class="w3-main main-margin">
    <table>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Popis</th>
            <th>Autor</th>
            <th>Uživatelé</th>
            <th>Termíny</th>
            <th>Místa</th>
        </tr>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}">ID</td>
            <td th:text="${event.name}">Název</td>
            <td th:text="${event.description}">Popis</td>
            <td th:text="${event.author.username}">Autor</td>
            <td>
                <span th:each="user : ${event.users}">
                    <span th:text="${user.username}">Login</span>
                </span>
            </td>
            <td>
                <span th:each="date : ${event.dates}">
                    <span th:text="${date.name}">Login</span>
                </span>
            </td>
            <td>
                <span th:each="place : ${event.places}">
                    <span th:text="${place.name}">Login</span>
                </span>
            </td>
            <td><a th:href="@{/add-date/{id}(id=${event.id})}">Přidat termíny</a></td>
            <td><a th:href="@{/add-place/{id}(id=${event.id})}">Přidat místa</a></td>
        </tr>
    </table>
<!-- End of PAGE CONTENT -->
</div>
<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: script"></script>
</body>
</html>