<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/w3.css" th:fragment="css-primary">
    <link rel="stylesheet" href="/css/custom.css" th:fragment="css-secondary">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" th:fragment="font">
</head>
<body>
<div th:fragment="header">
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding sidebar" id="mySidebar"><br>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft button-close-menu">Skrýt menu.</a>
        <div class="w3-container">
            <h3 class="w3-padding-64"><b><a href="/" class="text-decoration-none">Scheduler.</a></b></h3>
        </div>
        <div class="w3-bar-block">
            <a href="/create-event" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" th:if="${#httpServletRequest.remoteUser != null}">Vytvořit novou událost.</a>
            <a href="/events" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" th:if="${#httpServletRequest.remoteUser != null}">Moje události.</a>
            <a href="/profile" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" th:if="${#httpServletRequest.remoteUser != null}">Můj profil.</a>
            <a href="/register" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" th:if="${#httpServletRequest.remoteUser == null}">Registrace.</a>
            <a href="/welcome" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" th:if="${#httpServletRequest.remoteUser == null}">Přihlášení.</a>
            <form th:action="@{/logout}" method="post" onclick="w3_close()" th:if="${#httpServletRequest.remoteUser != null}">
                <input type="submit" class="w3-bar-item w3-button w3-hover-white" value="Odhlášení."/>
            </form>
        </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
        <a href="/" class="text-decoration-none">Scheduler</a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <div class="w3-main main-margin">
        <div class="container-margin" th:fragment="label">
            <h1 class="w3-jumbo"><b>Naplánujte si setkání.</b></h1>
            <h1 class="w3-xxxlarge w3-text-red"><b>Kdykoliv, kdekoliv, s kýmkoliv.</b></h1>
            <hr class="hr-red w3-round">
        </div>
    </div>
</div>
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px" th:fragment="footer">
    <p class="w3-right">&copy;2022 Lukáš Ondráček (ondralu2)</p>
</div>
<script th:fragment="script">
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>