<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <title>Scheduler - Naplánujte si setkání</title>
</head>
<body>
<div th:insert="fragments/header :: header">...</div>
<h1>Vytvoření nové události</h1>
<form action="/addEvent" method="POST">
    <div>
        <label for="name">Název události:</label>
        <input name="name" id="name">
    </div>
    <div>
        <label for="description">Popis události:</label>
        <input name="description" id="description">
    </div>
    <div>
        <button>Přidat událost</button>
    </div>
</form>
<div th:insert="fragments/footer :: footer">...</div>
</body>
</html>