<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="css/styles.css">
  <meta charset="UTF-8">
  <title>Scheduler - Naplánujte si setkání</title>
</head>
<body>
<div th:insert="fragments/header :: header">...</div>
<h1>Seznam uživatelů</h1>
  <table>
    <thead>
    <tr>
      <td>ID</td>
      <td>Jméno</td>
      <td>Popis</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${message.empty}">
      <td colspan="4">Žádný záznam</td>
    </tr>
    <tr th:each="element: ${message}">
      <td th:text="${element.id}" />
      <td th:text="${element.name}" />
      <td th:text="${element.description}" />

    </tr>
    </tbody>
  </table>
<div th:insert="fragments/footer :: footer">...</div>
</body>
</html>