<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments.html :: css-primary">
    <link th:replace="fragments.html :: css-secondary">
    <link th:replace="fragments.html :: font">
    <title>Naplánujte si setkání</title>
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<!-- PAGE CONTENT -->
<div class="w3-main main-margin">
    <h2>Uživatelé.</h2>
    <table>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.id}"> ID </span></td>
            <td><span th:text="${user.username}"> Username </span></td>
            <td><span th:text="${user.password}"> Password </span></td>
            </br>
        </tr>
    </table>
<!-- End of PAGE CONTENT -->
</div>
<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: script"></script>
</body>
</html>